@using Html_Helper1.Models
@model strongly
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*Strongly html helper*@
        @using (Html.BeginForm("myform"))
        {
            @Html.TextBoxFor(model => model.name)
        <br />
            @Html.TextBoxFor(model => model.address)
    <br />
            @Html.CheckBoxFor(m => m.isemployee)
    <br />
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>
