
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.imagetag("E:/Rajsthan trip/Canon EOS 1300D/rr","imgage")
    </div>
</body>
</html>
