<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @helper mylisthelper(string[] str)
        {
            <ul>
                @foreach (var item in str)
                {
                    <li>
                        @item
                    </li>
                }
                </ul>
         }
    </div>
    <div>
        <label>Name List</label>
        <div>
            @mylisthelper(new string[] {"raj","jay","jiya"})
           </div>
    </div>
</body>
</html>
